<h1>Login</h1>
<div class="forms">
<p id="alert"><%= alert %></p>
<%= bootstrap_form_tag url: sessions_path do |f| %>
<%= f.text_field :email %>
<%= f.password_field :password %>
<%= f.submit"Log in" %>
</div>
<% end %>

