<h1>Edit User</h1>

<%= form_for @user, html: { multipart: true } do |f| %>

    <div>
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>
    </div>

    <div>
        <%= f.label :last_name %>
        <%= f.text_field :last_name %>
    </div>

    <div>
        <%= f.label :email %>
        <%= f.text_field :email %>
    </div>

    <div>
        <%= f.label :dncr %>
        <%= f.text_field :dncr %>
    </div>

    <div>
        <%= f.label :profile_img_url %>
        <%= f.file_field :profile_img_url %>
    </div>

    <div>
        <%= f.label :dncrew %>
        <%= f.text_field :dncrew %>
    </div>

    <div>
        <%= f.label :date_of_birth %>
        <%= f.text_field :date_of_birth %>
    </div>

    <div>
        <%= f.label :location %>
        <%= f.text_field :location %>
    </div>

    <div>
        <%= f.label :about %>
        <%= f.text_field :about %>
    </div>

    <%= f.submit "Submit these changes!" %>

<% end %>

<%= link_to "Delete User", user_path, method: :delete, data: { confirm: "Are you sure you want to delete this User?"} %>  |  <%= link_to "Back to the list!", users_path %>
