<h1>Sign Up</h1>
<div class="forms">
<%= bootstrap_form_for @user, html: { multipart: true } do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.text_field :dncr %>
  </div>
  <div class="field">
    <%= f.file_field :profile_img_url, label: "Upload Profile Picture" %>
  </div>
  <div class="field">
    <%= f.text_field :dncrew %>
  </div>
  <div class="field">
    <%= f.date_select :date_of_birth, order: [:month, :day, :year] %>
  </div>
  <div class="field">
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.text_field :about %>
  </div>
  <div class="field">
    <%= f.password_field :password %>
  </div>
    <%= f.password_field :password_confirmation %>

  <div class="actions"><%= f.submit %></div>

<% end %>
</div>
