
<h1><%= @user.dncr %></h1>
  <div class="showContainer">
  <p><%= image_tag @user.profile_img_url.url(:medium) %></p>

    <div id="showInfo">
    <table>
    <thead>
        <tr>
          <h2><%= @user.first_name %> <%= @user.last_name %></h2>
          <p>DNCR:  <%= @user.dncr %>  </p>
          <p>Email: <%= @user.email %></p>
          <p>DNCREW:  <%= @user.dncrew %></p>
          <p>Date of Birth:  <%= @user.date_of_birth %></p>
          <p>Location: <%= @user.location %> </p>
          <p>About: <%= @user.about %></p>
    <% if is_admin %>
    <%= link_to "DNCR User List", users_path %> | <%= link_to "Edit User", edit_user_path %>
    <% elsif current_user %>
    <%= link_to "DNCR", users_path %> | <%= link_to "Videos", videos_path %>
    <% end %>
        </tr>

    </table>
    </div>
  </div>

