<main>
  <% Video.series.each do |series| %>
    <% rand_id = SecureRandom.hex %>
    <div class="carousel-wrapper">
      <div class="series-header">
        <h5 class="series"><%= series %> <i class="glyphicon glyphicon-chevron-right"></i></h5>
      </div>
      <div class="video-row-wrapper">
        <div id="series-<%= rand_id %>" class="video-row-inner">
          <% Video.where(series: series).each do |video| %>
            <div class="video tile">
              <% if current_user %>
                <videoButton onClick="openVideoModal('<%=video.title%>', '<%=video.embed_url%>')">
                  <%= image_tag("http://img.youtube.com/vi/#{video.embed_url}/maxresdefault.jpg", {height: 180, width: 320, class: "video-thumb"}) %>
                </videoButton>
              <% else %>
                <videoButton>
                   <%= link_to image_tag("http://img.youtube.com/vi/#{video.embed_url}/maxresdefault.jpg",  {height: 180, width: 320, class: "video-thumb"}), login_path %>
                </videoButton>
              <% end %>
              <div class="video-title">
                <h6>
                  <span><%= link_to truncate(video.title, length: 45), video_path(video) %></span>
                </h6>
              </div>
            </div>
          <% end %>
        </div>
        <div class="scrollband scroll-left" data-series="series-<%= rand_id %>">
          <i class="glyphicon glyphicon-chevron-left"></i>
        </div>
        <div class="scrollband scroll-right" data-series="series-<%= rand_id %>">
          <i class="glyphicon glyphicon-chevron-right"></i>
        </div>
      </div>
    </div>
  <% end %>

</main>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog" aria-labelledby="video-title">
  <div class="modal-body">
    <button onClick=closeVideo() type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <iframe id="video-embed" width="100%" height="100%" src="" allowfullscreen>video embed</iframe>
  </div>
</div>

<script>
  console.log(openVideoModal)
  function openVideoModal(title, url) {
    $('#video-title').html(title);
    $('#video-embed').attr("src", 'https://youtube.com/embed/' + url +'?rel=0&autoplay=1');
    $('#myModal').modal({backdrop: true});
  }
  function closeVideo(title, url){
    $('#video-title').html(title);
    $('#video-embed').attr("src", '');
  }

  $(function() {
    $(".scroll-left").on("click", function(evt) {
      var seriesId = $(evt.currentTarget).attr("data-series");
      var $videoInnerRow = $("#" + seriesId);
      var currentScrollPosition = $videoInnerRow.scrollLeft();

      $videoInnerRow.stop().animate({
        scrollLeft: currentScrollPosition - 1300
      }, 500);
    });

    $(".scroll-right").on("click", function(evt) {
      var seriesId = $(evt.currentTarget).attr("data-series");
      var $videoInnerRow = $("#" + seriesId);
      var currentScrollPosition = $videoInnerRow.scrollLeft();

      $videoInnerRow.stop().animate({
        scrollLeft: currentScrollPosition + 1300
      }, 500);
    });
  });
</script>
