<main>
  <div class="showContainer">
    <div id="showThumbLarge">
      <videoButton onClick="openVideoModal('<%=@video.title%>', '<%=@video.embed_url%>')"><%=  image_tag ("http://img.youtube.com/vi/#{@video.embed_url}/maxresdefault.jpg"), {height: 450, width: 800}  %></videoButton>
    </div>
    <div id="showInfo">
      <h3><%= @video.title %></h3>
            <br>
        <p>DNCR: <%= @video.user %>  </p>
        <p><%= @video.dncrew %></p>
        <p>Series: <%= @video.series %></p>
        <p><%= @video.description %></p>
        <% if is_admin %>
         <%= link_to 'Edit Video', edit_video_path %>
        <% end %>
    </div>
  </div>
</main>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog" aria-labelledby="video-title">
      <div class="modal-body">
         <button onClick=closeVideo() type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <iframe id="video-embed" width="100%" height="100%" src="" allowfullscreen>video embed</iframe>
      </div>
</div>


<script>
console.log(openVideoModal)
function openVideoModal(title, url) {
  $('#video-title').html(title);
  $('#video-embed').attr("src", 'https://youtube.com/embed/' + url +'?rel=0&autoplay=1');
  $('#myModal').modal({backdrop: true});
}
function closeVideo(title, url){
  $('#video-title').html(title);
  $('#video-embed').attr("src", '');
 }

</script>
