
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="brand navbar-left">
    <p><%= link_to image_tag("https://i.imgur.com/SgE62Sc.png", size: "150x83"), videos_path  %></p>
  </div>
    <div class="navbar-header navbar-right">
      <h3><%= link_to image_tag("https://i.imgur.com/6QuXWSf.png", size: "105x34"), users_path  %></h3>
      <% if is_admin %>
        Welcome, <%= current_user.dncr %>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <%= link_to 'DNCR MNGR', users_path %>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <%= link_to 'Add DNCR', new_user_path %>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <%= link_to 'Add VIDEO', videos_new_path %>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <%= link_to 'Logout', session_path('dummy'), method: :delete %>
       <% elsif current_user %>
        Welcome, <%= current_user.dncr %>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <%= link_to 'Logout', session_path('dummy'), method: :delete %>
      <% else %>
        <%= link_to 'Login', login_path %>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <%= link_to 'Sign Up', new_user_path %>
      <% end %>
    </div>
</nav>

