<!DOCTYPE html>
<html>
<head>
  <title>WorldofdanceApp</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
  <h1><%= link_to "World of Dance", videos_path %></h1>
  <h3>Move the Crowd!</h3>

  <nav>
    <%= link_to "Add Video", videos_new_path %>
  </nav>
  </header>


<%= yield %>

</body>
</html>
